<div id="finance-bubbles" class="horizontal">
  <svg width="1055" height="560">
    <g class="label" transform="translate(540,0)" style="opacity: 1;">
      <text dy=".71em" y="9" x="0" style="text-anchor: middle;">Per Cent Funded</text>
      <path d="M0,16 L0,0 L12,8 L0,16 Z" transform="translate(58,6)" class="triangle" fill="#D8D8D8"></path>
    </g>
    <g transform="translate(50,50)">
      <g class="x axis" transform="translate(0,0)" style="display: block;">
        <g class="tick" transform="translate(82.08,-25)" style="opacity: 1;">
          <text dy=".71em" y="9" x="0" style="text-anchor: middle;">0%</text>
        </g>
        <g class="tick" transform="translate(287.29,-25)" style="opacity: 1;">
          <text dy=".71em" y="9" x="0" style="text-anchor: middle;">25%</text>
        </g>
        <g class="tick" transform="translate(492.5,-25)" style="opacity: 1;">
          <text dy=".71em" y="9" x="0" style="text-anchor: middle;">50%</text>
        </g>
        <g class="tick" transform="translate(697.7,-25)" style="opacity: 1;">
          <text dy=".71em" y="9" x="0" style="text-anchor: middle;">75%</text>
        </g>
        <g class="tick" transform="translate(902.91,-25)" style="opacity: 1;">
          <text dy=".71em" y="9" x="0" style="text-anchor: middle;">100%</text>
        </g>
        <path class="domain" d="M0,6V0H985V6"></path>
      </g>
      <g class="x axis" transform="translate(0,460)" style="display: block;">
        <g class="tick" transform="translate(82.08,0)" style="opacity: 1;">
          <line y2="6" x2="0"></line>
          <text dy=".71em" y="9" x="0" style="text-anchor: middle;">0%</text>
        </g>
        <g class="tick" transform="translate(287.29,0)" style="opacity: 1;">
          <line y2="6" x2="0"></line>
          <text dy=".71em" y="9" x="0" style="text-anchor: middle;">25%</text>
        </g>
        <g class="tick" transform="translate(492.5,0)" style="opacity: 1;">
          <line y2="6" x2="0"></line>
          <text dy=".71em" y="9" x="0" style="text-anchor: middle;">50%</text>
        </g>
        <g class="tick" transform="translate(697.7,0)" style="opacity: 1;">
          <line y2="6" x2="0"></line>
          <text dy=".71em" y="9" x="0" style="text-anchor: middle;">75%</text>
        </g>
        <g class="tick" transform="translate(902.91,0)" style="opacity: 1;">
          <line y2="6" x2="0"></line>
          <text dy=".71em" y="9" x="0" style="text-anchor: middle;">100%</text>
        </g>
        <path class="domain" d="M0,6V0H985V6"></path>
      </g>
      <g class="y axis" transform="translate(0,0)" style="display: none;">
        <g class="tick" transform="translate(0,0)" style="opacity: 1;">
          <line x2="-6" y2="0"></line>
          <text dy=".32em" x="-9" y="0" style="text-anchor: end;">0%</text>
        </g>
        <g class="tick" transform="translate(0,571.25)" style="opacity: 1;">
          <line x2="-6" y2="0"></line>
          <text dy=".32em" x="-9" y="0" style="text-anchor: end;">25%</text>
        </g>
        <g class="tick" transform="translate(0,1142.5)" style="opacity: 1;">
          <line x2="-6" y2="0"></line>
          <text dy=".32em" x="-9" y="0" style="text-anchor: end;">50%</text>
        </g>
        <g class="tick" transform="translate(0,1713.75)" style="opacity: 1;">
          <line x2="-6" y2="0"></line>
          <text dy=".32em" x="-9" y="0" style="text-anchor: end;">75%</text>
        </g>
        <g class="tick" transform="translate(0,2285)" style="opacity: 1;">
          <line x2="-6" y2="0"></line>
          <text dy=".32em" x="-9" y="0" style="text-anchor: end;">100%</text>
        </g>
        <path class="domain" d="M-6,0H0V2285H-6"></path>
      </g>
      <g class="x grid" transform="translate(0,0)" style="display: block;">
        <g class="tick" transform="translate(82,0)" style="opacity: 1;">
          <line y2="460" x2="0"></line>
          <text dy="0em" y="-3" x="0" style="text-anchor: middle;"></text>
        </g>
        <g class="tick" transform="translate(287.29,0)" style="opacity: 1;">
          <line y2="460" x2="0"></line>
          <text dy="0em" y="-3" x="0" style="text-anchor: middle;"></text>
        </g>
        <g class="tick" transform="translate(492.5,0)" style="opacity: 1;">
          <line y2="460" x2="0"></line>
          <text dy="0em" y="-3" x="0" style="text-anchor: middle;"></text>
        </g>
        <g class="tick" transform="translate(697.7,0)" style="opacity: 1;">
          <line y2="460" x2="0"></line>
          <text dy="0em" y="-3" x="0" style="text-anchor: middle;"></text>
        </g>
        <g class="tick" transform="translate(902.91,0)" style="opacity: 1;">
          <line y2="460" x2="0"></line>
          <text dy="0em" y="-3" x="0" style="text-anchor: middle;"></text>
        </g>
        <path class="domain" d="M0,0V0H985V0"></path>
      </g>
      <g class="y grid" transform="translate(0,0)" style="display: none;">
        <g class="tick" transform="translate(0,0)" style="opacity: 1;">
          <line x2="2285" y2="0"></line>
          <text dy=".32em" x="-3" y="0" style="text-anchor: end;"></text>
        </g>
        <g class="tick" transform="translate(0,228.5)" style="opacity: 1;">
          <line x2="2285" y2="0"></line>
          <text dy=".32em" x="-3" y="0" style="text-anchor: end;"></text>
        </g>
        <g class="tick" transform="translate(0,457)" style="opacity: 1;">
          <line x2="2285" y2="0"></line>
          <text dy=".32em" x="-3" y="0" style="text-anchor: end;"></text>
        </g>
        <g class="tick" transform="translate(0,685.5)" style="opacity: 1;">
          <line x2="2285" y2="0"></line>
          <text dy=".32em" x="-3" y="0" style="text-anchor: end;"></text>
        </g>
        <g class="tick" transform="translate(0,914)" style="opacity: 1;">
          <line x2="2285" y2="0"></line>
          <text dy=".32em" x="-3" y="0" style="text-anchor: end;"></text>
        </g>
        <g class="tick" transform="translate(0,1142.5)" style="opacity: 1;">
          <line x2="2285" y2="0"></line>
          <text dy=".32em" x="-3" y="0" style="text-anchor: end;"></text>
        </g>
        <g class="tick" transform="translate(0,1371)" style="opacity: 1;">
          <line x2="2285" y2="0"></line>
          <text dy=".32em" x="-3" y="0" style="text-anchor: end;"></text>
        </g>
        <g class="tick" transform="translate(0,1599.5)" style="opacity: 1;">
          <line x2="2285" y2="0"></line>
          <text dy=".32em" x="-3" y="0" style="text-anchor: end;"></text>
        </g>
        <g class="tick" transform="translate(0,1828)" style="opacity: 1;">
          <line x2="2285" y2="0"></line>
          <text dy=".32em" x="-3" y="0" style="text-anchor: end;"></text>
        </g>
        <g class="tick" transform="translate(0,2056.5)" style="opacity: 1;">
          <line x2="2285" y2="0"></line>
          <text dy=".32em" x="-3" y="0" style="text-anchor: end;"></text>
        </g>
        <g class="tick" transform="translate(0,2285)" style="opacity: 1;">
          <line x2="2285" y2="0"></line>
          <text dy=".32em" x="-3" y="0" style="text-anchor: end;"></text>
        </g>
        <path class="domain" d="M0,0H0V2285H0"></path>
      </g>
      <g class="cluster-bubble small" transform="translate(930,230.00073482698014)"
         style="cursor: pointer;">
        <circle r="20.108930059687886"></circle>
        <text text-anchor="middle" transform="translate(0,36.108930059687886)" style="text-transform: capitalize;">
          <tspan x="0" dy="0em">Logistics</tspan>
        </text>
      </g>
      <g class="cluster-bubble small" transform="translate(501.7776426146819,187.40632269463822)"
         style="cursor: pointer;">
        <circle r="18.624913053686818"></circle>
        <text text-anchor="middle" transform="translate(0,34.62491305368682)" style="text-transform: capitalize;">
          <tspan x="0" dy="0em">ETC</tspan>
        </text>
      </g>
      <g class="cluster-bubble" transform="translate(526.6557662382083,350.64843183590136)" style="cursor: pointer;">
        <circle r="89.20620580763855"></circle>
        <text text-anchor="middle" transform="" style="text-transform: capitalize;">
          <tspan x="0" dy="0em">Food Security</tspan>
        </text>
      </g>
      <g class="cluster-bubble" transform="translate(355.7410719531676,264.0578061369209)" style="cursor: pointer;">
        <circle r="62.4081819963651"></circle>
        <text text-anchor="middle" transform="" style="text-transform: capitalize;">
          <tspan x="0" dy="0em">Health</tspan>
        </text>
      </g>
      <g class="cluster-bubble" transform="translate(266.61705990848156,388.9411162683688)" style="cursor: pointer;">
        <circle r="51.05443049663869"></circle>
        <text text-anchor="middle" transform="" style="text-transform: capitalize;">
          <tspan x="0" dy="0em">Protection</tspan>
        </text>
      </g>
      <g class="cluster-bubble" transform="translate(288.9199202582387,86.95474180265906)" style="cursor: pointer;">
        <circle r="86.92330066287097"></circle>
        <text text-anchor="middle" transform="" style="text-transform: capitalize;">
          <tspan x="0" dy="0em">Shelter/NFI</tspan>
        </text>
      </g>
      <g class="cluster-bubble small" transform="translate(213.5819168436445,238.35963096543884)"
         style="cursor: pointer;">
        <circle r="42.077138728522094"></circle>
        <text text-anchor="middle" transform="translate(0,58.077138728522094)" style="text-transform: capitalize;">
          <tspan x="0" dy="0em">WASH</tspan>
        </text>
      </g>
      <g class="cluster-bubble small" transform="translate(156.4574608473163,416.9670890860395)"
         style="cursor: pointer;">
        <circle r="22.61435333469075"></circle>
        <text text-anchor="middle" transform="translate(0,38.61435333469075)" style="text-transform: capitalize;">
          <tspan x="0" dy="0em">Coordination</tspan>
        </text>
      </g>
      <g class="cluster-bubble small" transform="translate(106.6872966996511,225.99627461882991)"
         style="cursor: pointer;">
        <circle r="25.54575780337453"></circle>
        <text text-anchor="middle" transform="translate(0,41.54575780337453)" style="text-transform: capitalize;">
          <tspan x="0" dy="0em">Social Cohesion and</tspan>
          <tspan x="0" y="20px">Sustainable Livelihoods</tspan>
        </text>
      </g>
      <g class="cluster-bubble small" transform="translate(110,320.9817676539159)"
         style="cursor: pointer;">
        <circle r="29.893855607565396"></circle>
        <text text-anchor="middle" transform="translate(0,45.8938556075654)" style="text-transform: capitalize;">
          <tspan x="0" dy="0em">Education</tspan>
        </text>
      </g>
      <g class="cluster-bubble" transform="translate(81.07616845398728,81.4909576177282)" style="cursor: pointer;">
        <circle r="80.99225455531553"></circle>
        <text text-anchor="middle" transform="" style="text-transform: capitalize;">
          <tspan x="0" dy="0em">Not Specified</tspan>
        </text>
      </g>
      <g class="cluster-bubble small" transform="translate(18.18303542999117,419.76686040926614)"
         style="cursor: pointer;">
        <circle r="17.841241161527712"></circle>
        <text text-anchor="middle" transform="translate(0,33.84124116152771)" style="text-transform: capitalize;">
          <tspan x="0" dy="0em">CCCM</tspan>
        </text>
      </g>
    </g>
    <g class="label" transform="translate(540,530)" style="opacity: 1;">
      <text dy=".71em" y="9" x="0" style="text-anchor: middle;">Per Cent Funded</text>
      <path d="M0,16 L0,0 L12,8 L0,16 Z" transform="translate(58,6)" class="triangle" fill="#D8D8D8"></path>
    </g>
    <g id="detail-overlay">
      <rect class="detail--block" x="0" y="0" width="1055" height="500"></rect>
      <circle class="detail--info" stroke-width="5" cx="492.5" cy="230" r="220"></circle>
      <g class="detail--text" transform="translate(502.5,215.5)">
        <text class="detail--title" text-anchor="middle">Food Security</text>
        <text text-anchor="middle" transform="translate(0,20)">40% funded</text>
        <text text-anchor="middle" transform="translate(0,40)">25.16M Requested</text>
        <text text-anchor="middle" transform="translate(0,60)">204.01M Funded</text>
      </g>
      <rect x="0" y="0" width="1055" height="500" fill="none" style="pointer-events: all;"></rect>
    </g>
  </svg>
</div>
