/* ==========================================================================
   Global Variables - Colors
   ========================================================================== */


/*
 * Here's a great tutorial on how to use color variables properly:
 * @see http://sachagreif.com/sass-color-variables/
 */

$color--blue--dark: #0a5d82;
$color--purple--dark: #6778b9;
$color--purple: #b393e1;
$color--blue: #1989ba;
$color--gray: #787878;
$color--gray--light: #dce2e6;
$color--red: #ed5759;
$color--teal: #9ec4c8;
$color--blue--bright: #459df0;
$color--blue--light: #eaf5f7;
$color--gray--dark: #060606;
$color--white: hsl(0, 0%, 100%);
$color--black: hsl(0, 0%, 0%);

// Semantic Colors
$color--text: $color--black;
$color--link: $color--black;
$color--border: $color--gray--light;
$color--border-active: $color--black;
$bg-color: $color--white;

// Emphasis Colors
$color--information: $color--blue;
$color--success: $color--blue--bright;
$color--error: $color--red;
$color--warning: $color--blue--dark;

// Links
$cs-link-normal            : $color--blue;
$cs-link-hover             : $color--blue--bright;
$cs-link-active            : $color--blue;
$cs-link-visited           : $color--blue;
$cs-link-focus             : $color--blue--bright;
$cs-link-underline-normal  : $color--blue;
$cs-link-underline-hover   : $color--blue--bright;
$cs-link-underline-active  : $color--blue;
$cs-link-underline-visited : $color--blue;
$cs-link-underline-focus   : $color--blue--bright;
