/* ==========================================================================
   Global Variables - Colors
   ========================================================================== */


/*
 * Here's a great tutorial on how to use color variables properly:
 * @see http://sachagreif.com/sass-color-variables/
 */

$color--blue--dark: #0a5d82;
$color--blue: #1989ba;
$color--blue--bright: #459df0;
$color--blue--light: #eaf5f7;
$color--teal: #9ec4c8;
$color--purple: #b393e1;
$color--purple--dark: #6b5887;
$color--red: #ed5759;
$color--white: hsl(0, 0%, 100%);
$color--gray--light: #f5f5f5;
$color--gray--lightish: #cccccc;
$color--gray: #494949;
$color--gray--dark: #060606;
$color--black: hsl(0, 0%, 0%);
$color--purple--dark: mix($color--purple, $color--black, 60%);
//@debug ($color--purple--dark);

$color-map: (
  color--blue-dark: $color--blue--dark,
  color--blue: $color--blue,
  color--blue--bright: $color--blue--bright,
  color--blue--light: $color--blue--light,
  color--teal: $color--teal,
  color--purple: $color--purple,
  color--purple--dark: $color--purple--dark,
  color--red: $color--red,
  color--white: $color--white,
  color--gray--light: $color--gray--light,
  color--gray: $color--gray,
  color--gray--dark: $color--gray--dark,
  color--black: $color--black
);

// Semantic Colors
$color--text: $color--black;
$color--link: $color--black;
$color--border: $color--gray--light;
$color--border-active: $color--black;
$bg-color: $color--white;

// Emphasis Colors
$color--information: $color--blue;
$color--success: $color--blue--bright;
$color--error: $color--red;
$color--warning: $color--blue--dark;

// Links
$cs-link-normal            : $color--blue;
$cs-link-hover             : $color--blue--bright;
$cs-link-active            : $color--blue;
$cs-link-visited           : $color--blue;
$cs-link-focus             : $color--blue--bright;
$cs-link-underline-normal  : $color--blue;
$cs-link-underline-hover   : $color--blue--bright;
$cs-link-underline-active  : $color--blue;
$cs-link-underline-visited : $color--blue;
$cs-link-underline-focus   : $color--blue--bright;
