/* ==========================================================================
   Global Variables - Typography
   ========================================================================== */


/* Font names
   ========================================================================== */
/*
 * Assign font names from global/variables/_fonts.scss $fonts map
 * to actual usable font family strings.
 */

$font--volkhov:   font-name("volkhov-regular"), "Times New Roman", Times, serif;
$font--futura:    "futura-pt", Helvetica, Arial, sans-serif;
$font--helvetica: Helvetica, Arial, sans-serif;

$font-body: $font--futura;
$font-headline: $font--volkhov;

// Font size and line-height
$root-typesize   : 16px;
$base-font-size  : $root-typesize;
$base-line-px    : 24px;
$base-line-em    : em($base-line-px);
$base-line-height: unitless-convert($base-line-em);

// Sassy Modular-scale
$ms-base: $root-typesize;
$ms-ratio: $minor-third $golden;


// Heading sizes
$heading-sizes:
  ms(6)
  ms(5)
  ms(4)
  ms(3)
  ms(2)
  ms(1);
$heading-line-heights:
  ms(7)
  ms(6)
  ms(5)
  ms(4)
  ms(3)
  ms(2);


