<h1 class="widget-title"><span><i class="{{widget-title.icon}} widget-title--icon"></i><span class="word1">{{ widget-title.word1 }}</span> <span class="word2">{{ widget-title.word2 }}</span></span></h1>
