<ul class="how-it-works">
  <li class="stepbox__wrapper">{{> molecules-stepbox }}</li>
  <li class="stepbox__wrapper">{{> molecules-stepbox }}</li>
  <li class="stepbox__wrapper">{{> molecules-stepbox }}</li>
</ul>
