<div class="stat-bar">
  <div class="wrapper-inner-2">
    <div class="stat-bar__col">
    <h4 class="h-7 tc-11">
      Every bike makes a difference
    </h4>
    </div>
    <div class="stat-bar__col">
      <h5 class="h-8">100%</h5>
      <p class="h-6 tc-11">
        of every dollar raised funds pioneering research led by Memorial Sloan Kettering, the world's oldest and largest private cancer center.
      </p>
    </div>
    <div class="stat-bar__col">
      <h5 class="h-8" style="white-space: nowrap">$52.8M
      </h5>
      <p class="h-6 tc-11">has been raised by Cycle for Survival since 2007 to beat rare cancers.</p>
    </div>
    <div class="stat-bar__col">
      <h5 class="h-8">100+
      </h5>
      <p class="h-6 tc-11"><a href="https://secure2.convio.net/mskcc/site/SPageServer/?pagename=cycle_2014_funding_allocation " style="color:#ffb999; text-decoration:none;">clinical trials, research studies, and major research initiatives have been funded by Cycle for Survival.</a></p>
    </div>
  </div>
</div>