<div class="tab-set">
  <input type="radio" name="tab" id="tab-1" class="tab-set--tab" checked="checked"/>
  <label for="tab-1">Tab One</label>
  <input type="radio" name="tab" id="tab-2" class="tab-set--tab" />
  <label for="tab-2">Tab Two</label>
  <input type="radio" name="tab" id="tab-3" class="tab-set--tab" />
  <label for="tab-3">Tab Three</label>
  <input type="radio" name="tab" id="tab-4" class="tab-set--tab" />
  <label for="tab-4">Tab Four</label>
  <div class="tab-set--content">
    <div id="tab-body-1" class="tab-set--body">
      <h3>{{headline.short}}</h3>
      <p>{{excerpt.long}}</p>
    </div>
    <div id="tab-body-2" class="tab-set--body">
      <h3>{{headline.medium}}</h3>
      <p>{{excerpt.medium}}</p>
    </div>
    <div id="tab-body-3" class="tab-set--body">
      <h3>{{headline.short}}</h3>
      <p>{{excerpt.long}}</p>
    </div>
    <div id="tab-body-4" class="tab-set--body">
      <h3>{{headline.medium}}</h3>
      <p>{{excerpt.medium}}</p>
    </div>
  </div>
</div>
