<div class="accordion-set">
  <!--Item 1-->
  <input type="checkbox" id="item-1" class="accordion-set--check"/>
  <label for="item-1" class="accordion-set--label">{{headline.short}}</label>
  <div class="accordion-set--content">
    <p>{{excerpt.long}}</p>
    <p>{{excerpt.long}}</p>
  </div>
  <!--Item 2-->
  <input type="checkbox" id="item-2" class="accordion-set--check"/>
  <label for="item-2" class="accordion-set--label">{{headline.short}}</label>
  <div class="accordion-set--content">
    <p>{{excerpt.long}}</p>
  </div>
</div>
