/* ==========================================================================
   Components Atoms - Social Links
   ========================================================================== */


.social-link {
  &--facebook  { @include icon(facebook); }
  &--twitter   { @include icon(twitter); }
  &--instagram { @include icon(instagram); }
  margin-left: 2em;
  &:before {
    font-size: 2em;
    margin-left: -1em;
    @extend %link-unset-underline-extend;
  }
}
