<ul class="pl-font">
  <li class="pl-font-A">
    [font name A]:  {{ headline.short }}
    {{# meta }}
       {{# font-A}}
        {{>atoms-scss-style}}
      {{/ font-A}}
    {{/meta}}
    <hr />
  </li>
  <li class="pl-font-B">
    [font name B]: {{ headline.short }}
    {{# meta }}
       {{# font-B}}
        {{>atoms-scss-style}}
      {{/ font-B}}
    {{/meta}}
    <hr />
  </li>
  <li class="pl-font-C">
    [font name C]: {{ headline.short }}
    {{# meta }}
       {{# font-C}}
        {{>atoms-scss-style}}
      {{/ font-C}}
    {{/meta}}
    <hr />
  </li>
  <li class="pl-font-D">
    [font name D]: {{ headline.short }}
    {{# meta }}
       {{# font-D}}
        {{>atoms-scss-style}}
      {{/ font-D}}
    {{/meta}}
  </li>
</ul>
