<ul class="pl-font">
  <li class="pl-font-skolar">
    [skolar]: {{ headline.short }}
    {{# meta }}
      {{# font-skolar}}
        {{>atoms-scss-style}}
      {{/ font-skolar}}
    {{/meta}}
    <hr />
  </li>
  <li class="pl-font-skolar-italic">
    [skolar italic]: {{ headline.short }}
    {{# meta }}
      {{# font-skolar-italic}}
        {{>atoms-scss-style}}
      {{/ font-skolar-italic}}
    {{/meta}}
    <hr />
  </li>
  <li class="pl-font-skolar-bold">
    [skolar bold]: {{ headline.short }}
    {{# meta }}
      {{# font-skolar-bold}}
        {{>atoms-scss-style}}
      {{/ font-skolar-bold}}
    {{/meta}}
    <hr />
  </li>
  <li class="pl-font-skolar-bold-italic">
    [skolar bold italic]: {{ headline.short }}
    {{# meta }}
      {{# font-skolar-bold-italic}}
        {{>atoms-scss-style}}
      {{/ font-skolar-bold-italic}}
    {{/meta}}
  </li>
  <li class="pl-font-futura">
    [futura pt]: {{ headline.short }}
    {{# meta }}
       {{# font-futura}}
        {{>atoms-scss-style}}
      {{/ font-futura}}
    {{/meta}}
    <hr />
  </li>
  <li class="pl-font-futura-italic">
    [futura italic]: {{ headline.short }}
    {{# meta }}
       {{# font-futura-italic}}
        {{>atoms-scss-style}}
      {{/ font-futura-italic}}
    {{/meta}}
    <hr />
  </li>
  <li class="pl-font-futura-bold">
    [futura bold]: {{ headline.short }}
    {{# meta }}
       {{# font-futura-bold}}
        {{>atoms-scss-style}}
      {{/ font-futura-bold}}
    {{/meta}}
    <hr />
  </li>
  <li class="pl-font-futura-bold-italic">
    [futura bold italic]: {{ headline.short }}
    {{# meta }}
       {{# font-futura-bold-italic}}
        {{>atoms-scss-style}}
      {{/ font-futura-bold-italic}}
    {{/meta}}
  </li>
</ul>
