<div class="overview-widget">
  <h1 class="overview-widget--title">Crisis Overview</h1>
  <div class="overview-widget--map">
    {{> atoms-landscape-4x3 }}
  </div>
  <div class="overview-widget--description">
    <h2>{{headline.short}}</h2>
    {{excerpt.long}}
    <h2>{{headline.short}}</h2>
    {{excerpt.long}}
    <h2>{{headline.short}}</h2>
    {{excerpt.long}}
  </div>
  <div class="overview-widget--tabs tabs"></div>
</div>
