<div class="overview-widget" id="widget-overview">
  {{> molecules-widget-title }}
  <div class="overview-widget--map">
    <img src="../../images/overview-map.jpg" alt="Overview map of Syria / Iraq Crisis" />
  </div>
  <div class="overview-widget--description">
    <div class="accordion-set">
      <input type="checkbox" id="syria" class="accordion-set--check" checked="checked"/>
      <label for="syria" class="accordion-set--label"><h2>Syria</h2></label>
      <div class="accordion-set--content" data-eq-pts="cols2: 500">
        <p>The conflict in Syria is now in its fourth year and the humanitarian situation continues to worsen. There
          were major changes in conflict dynamics over 2014, both in terms of warring factions’ control over territory
          and in terms of the fault lines of the conflict.</p>
        <p>The conflict has killed over 195,000 people and caused large-scale displacement. More people are in camps
          than last year, and more non-displaced are in need of humanitarian assistance. The country has also
          experienced severe drought, impacting the availability of safe water and the health status of the population,
          as well as reducing agricultural output and local food production. Protection concerns are widespread. WASH
          and access to food are high priorities as well as access to health services. Humanitarian needs in areas under
          prolonged and ongoing siege are particularly high as access to food, basic services, and livelihoods is
          obstructed.</p>
      </div>
      <input type="checkbox" id="iraq" class="accordion-set--check"/>
      <label for="iraq" class="accordion-set--label"><h2>Iraq</h2></label>
      <div class="accordion-set--content" data-eq-pts="cols2: 500">
        <p>The Islamic State insurgency has compounded an already fragile political situation, leading to a level 3 humanitarian crisis and international military intervention. In 2014, four massive waves of internal displacement have taken place: Anbar in January, Mosul in June, Sinjar in August and Hit in October. Priority humanitarian needs are food, water, shelter, and fuel. Protection and the risk of disease outbreak are also concerns. Iraq now hosts one of the largest internally displaced populations in the world. Host communities are increasingly stretched.</p>
      </div>
    </div>
  </div>
  <div class="overview-widget--tabs tab-set">
    <input type="radio" name="tab" id="tab-1" class="tab-set--tab" checked="checked"/>
    <label for="tab-1">Iraq</label>
    <input type="radio" name="tab" id="tab-2" class="tab-set--tab" />
    <label for="tab-2">Syria</label>
    <div class="tab-set--content">
      <div id="tab-body-1" class="tab-set--body">
        <h2>Iraq</h2>
        <i class="un-icon-crisis_population_displacement"></i>
        <div class="refugees">
          <h3><span class="figure">3</span> Million</h3>
          <p>Refugees</p>
        </div>
        <div class="idp">
          <h3><span class="figure">6.25</span> Million</h3>
          <p>Internally Displaced</p>
        </div>
      </div>
      <div id="tab-body-2" class="tab-set--body">
        <h2>Syria</h2>
        <i class="un-icon-crisis_population_displacement"></i>
        <div class="refugees">
          <h3><span class="figure">4</span> Million</h3>
          <p>Refugees</p>
        </div>
        <div class="idp">
          <h3><span class="figure">7.5</span> Million</h3>
          <p>Internally Displaced</p>
        </div>
      </div>
    </div>
  </div>
  <footer class="overview-widget--sources">Data Source <cite><a href="">UNHCR</a></cite></footer>
</div>
