<div class="widget-river">
	<header>
		<h3>I want content from</h3>
		<select>
			<option>This week</option>
			<option>This month</option>
			<option>This year</option>
		</select>
	</header>
	<div class="results clearfix">
		<div class="graph">
			<ul class="river-tabs clearfix">
				<li>
					<span class="number">1,332</span>
<!--
					<div>
						<span class="un-icon-product_type_report"></span>
						<span>Reports</span>
					</div>
-->
					<div class="river-widget--dropdown">
					    <div class="river-widget--dropdown-heading">
					        <span class="un-icon-product_type_report"></span> Reports
					    </div>
					    <div class="river-widget--dropdown--wrapper">
						    <span class="un-icon-damage_destroyed close"></span>
					        <div class="river-widget--dropdown--container">
					          <ul class="slidee">         
					            <li>
					              <div class="filters">
								    <h5>Filter Results</h5>
										<ul>
											<li><a href="">Sitreps</a></li>
											<li><a href="">Needs Assessments</a></li>
											<li><a href="">Education</a></li>
											<li><a href="">Emergency Shelter</a></li>
											<li><a href="">Emergency Telecommunications</a></li>
											<li><a href="">Food Security</a></li>
											<li><a href="">Health</a></li>
											<li><a href="">Logistics</a></li>
											<li><a href="">Nutrition</a></li>
											<li><a href="">Protection</a></li>
										</ul>
								  </div>
					            </li>
					          </ul>
					        </div>
					    </div>
					</div>
				</li>
				<li>
					<span class="number">314</span>
					<!--
<div>
						<span class="un-icon-activity_deployment"></span>
						<span>Maps + Infographics</span>
					</div>
-->
					<div class="river-widget--dropdown">
					    <div class="river-widget--dropdown-heading">
					        <span class="un-icon-activity_deployment"></span> Maps + Infographics
					    </div>
					    <div class="river-widget--dropdown--wrapper">
						    <span class="un-icon-damage_destroyed close"></span>
					        <div class="river-widget--dropdown--container">
					          <ul class="slidee">         
					            <li>
					              <div class="filters">
								    <h5>Filter Results</h5>
										<ul>
											<li><a href="">Sitreps</a></li>
											<li><a href="">Needs Assessments</a></li>
											<li><a href="">Education</a></li>
											<li><a href="">Emergency Shelter</a></li>
											<li><a href="">Emergency Telecommunications</a></li>
											<li><a href="">Food Security</a></li>
											<li><a href="">Health</a></li>
											<li><a href="">Logistics</a></li>
											<li><a href="">Nutrition</a></li>
											<li><a href="">Protection</a></li>
										</ul>
								  </div>
					            </li>
					          </ul>
					        </div>
					    </div>
					</div>
				</li>
				<li>
					<span class="number">42</span>
<!--
					<div>
						<span class="un-icon-product_type_map"></span>
						<span>Jobs</span>
					</div>
-->
					<div class="river-widget--dropdown">
					    <div class="river-widget--dropdown-heading">
					        <span class="un-icon-product_type_map"></span> Jobs
					    </div>
					    <div class="river-widget--dropdown--wrapper">
						    <span class="un-icon-damage_destroyed close"></span>
					        <div class="river-widget--dropdown--container">
					          <ul class="slidee">         
					            <li>
					              <div class="filters">
								    <h5>Filter Results</h5>
										<ul>
											<li><a href="">Sitreps</a></li>
											<li><a href="">Needs Assessments</a></li>
											<li><a href="">Education</a></li>
											<li><a href="">Emergency Shelter</a></li>
											<li><a href="">Emergency Telecommunications</a></li>
											<li><a href="">Food Security</a></li>
											<li><a href="">Health</a></li>
											<li><a href="">Logistics</a></li>
											<li><a href="">Nutrition</a></li>
											<li><a href="">Protection</a></li>
										</ul>
								  </div>
					            </li>
					          </ul>
					        </div>
					    </div>
					</div>
				</li>
			</ul>
			<div class="placeholder">
				<img src="../../images/river-graph-placeholder.png">
			</div>
		</div>
		<div class="filters hidden">
			<h5>Filter Results</h5>
			<ul>
				<li><a href="">Sitreps</a></li>
				<li><a href="">Needs Assessments</a></li>
				<li><a href="">Education</a></li>
				<li><a href="">Emergency Shelter</a></li>
				<li><a href="">Emergency Telecommunications</a></li>
				<li><a href="">Food Security</a></li>
				<li><a href="">Health</a></li>
				<li><a href="">Logistics</a></li>
				<li><a href="">Nutrition</a></li>
				<li><a href="">Protection</a></li>
			</ul>
		</div>
	</div>
</div>