<div class="widget-river" id="widget-river">
  {{> molecules-widget-title }}

  <div class="widget-river--results clearfix">

    <div class="widget-river--filters results--item--reports">
      <h5 class="widget-river--filters--title">Filter Results:  <span class="tab">Reports</span> <span class="close"></span></h5>
      <ul>
        <li><a href="">Situation Reports</a></li>
        <li><a href="">Needs Assessments</a></li>
        <li><a href="">Education</a></li>
        <li><a href="">Emergency Shelter</a></li>
        <li><a href="">Emergency Telecommunications</a></li>
        <li><a href="">Food Security</a></li>
        <li><a href="">Health</a></li>
        <li><a href="">Logistics</a></li>
        <li><a href="">Nutrition</a></li>
        <li><a href="">Protection</a></li>
      </ul>
    </div>
  </div>
</div>
