<div class="unsupported-browsers">
  <p>This site is built to run on Internet Explorer 10 and above, as well as the latest versions of Apple Safari, Google Chrome, and Mozilla&nbsp;Firefox.</p>
  <p>Please update your browser or search for Syria / Iraq on ReliefWeb:</p>
  <div class="rw-buttons">
    <a class="btn" href="http://reliefweb.int/country/irq">Iraq page on ReliefWeb</a>
    <a class="btn" href="http://reliefweb.int/country/syr">Syria page on ReliefWeb</a>
  </div>
</div>
