.financial-widget {
  padding: 0 0.5rem;
}

.financial-widget--data-source-chooser {
  margin-bottom: $base-line-px;
}
.financial-widget--data-source {
  @include unset-background-links();
//  @include link-colors($color--white, $color--gray--light, $color--gray--light, $color--white, $color--white);
  font-family: $font--futura;
  background-color: $color--blue--dark;
  padding: 3px 0.5rem;
  display: block;
  //
  @include fontsize-rem(ms(1));
  padding: 3px 0.5em;
  background-color: $color--gray--light;
  color: $color--gray;
  @include link-colors($color--gray, $color--gray--dark, $color--gray--dark, $color--gray, $color--gray);
  font-family: $font--futura;
  border: 1px solid $color--gray--lightish;
  //
  &:nth-last-of-type(1n+2) {
    border-bottom: 1px solid $color--blue--darker;
  }
  &.active, &:hover {
    background-color: $color--blue;
    //
    background-color: $color--purple;
    color: $color--white;
    @include link-colors($color--white, $color--gray--light, $color--gray--light, $color--white, $color--white);
    //
  }
}

.financial-widget--time {
  display: table;
  margin-bottom: $base-line-px;
  border-bottom: 1px solid $color--gray--lightish;
  h1 {
    font-size: ms(3);
    line-height: 1.1;
    float: left;
    max-width: 100% / $phi;
  }
  .selectric-financial-widget--time-select {
    /* min-width: 50%; */
    /* display: inline-block; */
    /* position: relative; */
    /* left: 50%; */
    /* -webkit-transform: translateX(-50%); */
    float: right;
    max-width: 100% - (100% / $phi);
    margin-top: 1em;
    /* outline: 1px solid gray; */
    .label {
      margin-bottom: 0;
    }
  }
}

.financial-widget--percent-funded {
//  $color--diagonal--lighter: mix($color--gray--light, $color--blue--dark, 97%);
//  @include background-image(linear-gradient(90deg, $color--green, $color--transparent--white), repeating-linear-gradient(-45deg, $color--transparent--white, $color--transparent--white 16px, $color--diagonal--lighter 16px, $color--diagonal--lighter 32px));

//  $color--diagonal--lighter: mix($color--gray--light, $color--blue--light, 25%);
//  @include background-image(repeating-linear-gradient(-45deg, $color--transparent--white, $color--transparent--white 16px, $color--diagonal--lighter 16px, $color--diagonal--lighter 32px));
//
//  $color--diagonal--lighter: mix($color--gray--light, $color--green--dark, 25%);
//  @include background-image(repeating-linear-gradient(-45deg, $color--transparent--white, $color--transparent--white 16px, $color--diagonal--lighter 16px, $color--diagonal--lighter 32px));
  width: 100%;
  height: 3rem;
//  border: 1px solid cadetblue;
  background-color: $color--blue--dark;
//  background-color: $color--green--dark;
//  background-position: 50% 50%, 50% 50%;
  margin-bottom: $base-line-px * 2;
  @include try-borders();
  @include try-colors();
}

.financial-widget--percent-funded--amount {
  height: 100%;
  padding: 3rem 0.5rem 0;
  position: relative;
  white-space: nowrap;
  font-family: $font--futura;
//  &:before {
//    position: absolute;
//    top: 2px;
//    color: $color--white;
//    font-size: 2em;
//  }
  &.covered {
    float: left;
    width: 55%;
    background: $color--green;
    $color--diagonal--lighter: mix($color--gray--light, $color--green, 25%);
    @include background-image(linear-gradient(90deg, $color--green, $color--transparent--white), repeating-linear-gradient(-45deg, $color--transparent--white, $color--transparent--white 16px, $color--diagonal--lighter 16px, $color--diagonal--lighter 32px));
    background-position: 50% 50%, 50% 50%;
    border-right: 4px solid $color--purple;
//    &:before {
//      content: "$2.12B";
//      left: 0.5rem;
//    }
  }
  &.requested {
    text-align: right;
//    &:before {
//      content: "$3.74B";
//      right: 0.5rem;
//    }
  }
  .percent {
    color: $color--white;
    font-size: ms(2);
    text-align: right;
    position: absolute;
    top: 5px;
    right: 0.5rem;
    line-height: 1;
    span {
      display: block;
      font-size: ms(0);
    }
  }
}

.financial-widget--cluster-funding {
  background: url('../../images/dropdown-bk-img.png');
  border: {
    width: 4px 0;
    style: double;
    color: $color--gray--light;
  }
  margin: 0 -0.5rem;
  padding: 0.5em 0;
  box-shadow: 0 0 0px 0.25em white inset;
  h2 {
    font-size: ms(4);
    line-height: 1.1;
    margin: 0 0.5rem;
  }
}


// selectric
.selectric {
  border-radius: none;
}
