// Breakpoints

//.overview-widget {
//  margin: 0 0.5em;
//}

.overview-widget--title {
  @include fontsize-rem(ms(0));
  margin: 0;
  padding: 0.75em 0.5em;
  background-color: $color--purple;
  color: $color--white;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  //  @include try-colors();
}

.overview-widget--map {
  border: {
    width: 1px 0;
    style: solid;
    color: $color--gray--dark;
  }
}

.overview-widget--description {
//  @extend %baseline;
  h2 {
    @include fontsize-rem(ms(2));
    margin: 0 0 12px;
    padding: 6px 0.5em;
    border-top: 1px solid $color--gray--lightish;
    border-bottom: 2px solid $color--purple;
    background-color: $color--gray--light;
    color: $color--purple--dark;
    line-height: unitless-convert(em(34px, ms(2)));
  }
  .accordion-set--content {
    padding: 0 0.5em;
    @include column-gap(2em);
    @include eq('cols2') {
      @include columns(2);
      padding-bottom: $base-line-em;
    }
    @include eq('cols3') {
      @include columns(3);
      padding-bottom: $base-line-em;
    }
  }
}

// Accordion
.accordion-set--check {
  &:checked {
    + .accordion-set--label {

      &:before {
        @include transform(rotate(90deg));
      }
    }
  }
}

.accordion-set--label {
  position: relative;
  &:before {
    @include arrow($color--purple);
    top: 1em;
    left: 0.5em;
  }
  h2 {
    padding-left: 1em;
  }
}

// Tabs
.overview-widget--tabs {
  display: flex;
  flex-wrap: wrap;
  label {
    @include fontsize-rem(ms(1));
    padding: 3px 0.5em;
    background-color: $color--gray--light;
    text-transform: uppercase;
    flex-basis: 33%;
  }
  .tab-set--tab:checked {
    + label {
      position: relative;
      background-color: $color--purple;
      color: $color--white;
      &:before {
        @include arrow($color--purple, down);
        top: 100%;
        left: 0.5em;
      }
    }
  }
  .tab-set--content {
    width: 100%;
    background-color: $color--purple--dark;
  }
  .tab-set--body {
    padding: 1em 0.5em;
    > h2 {
      @extend %hide;
    }
    h3 {
      margin-bottom: 0;
      color: $color--purple;
      line-height: 1;
      text-transform: lowercase;
      .figure {
        color: $color--white;
        font-weight: bold;
      }
      + p {
        color: $color--white;
      }
    }
  }
}

// Sources
.overview-widget--sources {
  margin: 1em 0;
  color: $color--gray--lightish;
}





