//.overview-widget {
//  margin: 0 0.5em;
//}

.overview-widget--title {
  @include fontsize-rem(ms(0));
  margin: 0;
  padding: 0.75em 0.5em;
  background-color: $color--purple;
  color: $color--white;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  //  @include try-colors();
}

.overview-widget--map {
  border: {
    width: 1px 0;
    style: solid;
    color: $color--gray--dark;
  }
}

.overview-widget--description {
//  @extend %baseline;
  h2 {
    @include fontsize-rem(ms(2));
    margin: 0 0 12px;
    padding: 6px 0.5em;
    border-top: 1px solid $color--gray--lightish;
    border-bottom: 2px solid $color--purple;
    background-color: $color--gray--light;
    color: $color--purple--dark;
    line-height: unitless-convert(em(34px, ms(2)));
  }
}

.overview-widget--tabs {
  label {
    @include fontsize-rem(ms(1));
    padding: 0.5em 3px;
    background-color: $color--gray--light;
    text-transform: uppercase;
  }
}

