.widget-river {
  background: image-url('diagonal-pinstripes.png') repeat $color--white;
}

.widget-river--header {
  @include fontsize-rem(ms(0));
  position: relative;
  margin: 0;
  border-bottom: 1px solid $color--gray--lightish;
  background-color: $color--gray--light;
  .widget-river--title {
    @include fontsize-rem(ms(0));
    display: inline-block;
    margin: 0 0.25em 0 0;
    padding: 0 0.5em 0 1em;
    background-color: $color--blue--dark;
    color: $color--white;
    font-weight: bold;
    line-height: unitless-convert(54px);
    text-transform: uppercase;
    vertical-align: top;
  }
}

.widget-river--results--type {
  display: inline-block;
  position: relative;
  width: 67%;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  background-color: rgba($color--white, .2);
  cursor: pointer;
  font-family: $font--futura;
  white-space: nowrap;
  &:after {
    @include arrow($color--white, right);
    top: 12px;
    right: 0.5rem;
  }
  @include breakpoint($bp--river-unstack-tabs) {
    display: block;
    width: auto;
  }
}



.widget-river--filters {
  width: 100%;
  background-color: $color--white;
  margin-bottom: $base-line-em;
  ul {
    border-top: 1px solid $color--gray--light;
  }
  label {
    @include unset-background-links();
    display: block;
    position: relative;
    padding: em(10px) em(20px);
    border-bottom: 1px solid $color--gray--light;
    background: none;
    background-color: $color--white;
    color: $color--blue--dark;
    font-family: $font--futura;
    &:hover {
      background-color: $color--gray--light;
    }
  }
  .accordion-set--label {
    padding-left: 1.5em;
  }
  .widget-river--filters-content {
    padding: 0.5em;
  }
}

.widget-river--filters--title {
  @include fontsize-rem(ms(0));
  position: relative;
  margin: 0;
  padding: 0.5em 2em;
  background-color: $color--blue--dark;
  color: $color--white;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  .results--item--reports & {
    background-color: $color--purple--dark;
  }
  .results--item--maps & {
    background-color: $color--blue--dark;
  }
  .results--item--jobs & {
    background-color: $color--yellow--mid;
  }
}

.widget-river--results {
  @include breakpoint($bp--river-unstack-tabs) {
    margin: 1rem;
  }
  .widget-river--results--graph {
    margin-bottom: $base-line-em;
    border: 0.5rem solid $color--gray--lightish;
    background-color: $color--gray--lightish;
  }

}
