.widget-river {
  background: image-url('diagonal-pinstripes.png') repeat $color--white;
}

.widget-river--header {
  $color--diagonal--lighter: mix($color--gray--light, $color--blue--dark, 97%);
  @include background-image(linear-gradient(90deg, $color--gray--light, $color--transparent--white), repeating-linear-gradient(-45deg, $color--transparent--white, $color--transparent--white 16px, $color--diagonal--lighter 16px, $color--diagonal--lighter 32px));
  @include fontsize-rem(ms(0));
  position: relative;
  margin: 0;
  border-bottom: 1px solid $color--gray--lightish;
  background-color: $color--gray--light;
  background-position: 50% 50%, 50% 50%;
  .widget-river--title {
    @include fontsize-rem(ms(0));
    display: inline-block;
    margin: 0 0.25em 0 0;
    padding: 0 0.5em 0 1em;
    background-color: $color--yellow;
    color: $color--white;
    font-weight: bold;
    line-height: unitless-convert(54px);
    text-transform: uppercase;
    vertical-align: top;
  }
}

.widget-river {
  .selectricWrapper {
    display: inline-block;
    position: relative;
    top: 9px;
    border-top: 1px solid $color--gray--lightish;
    border-bottom: 1px solid $color--gray--lightish;
    background-color: $color--white;
    p.label {
      margin-bottom: 0;
    }
    .selectric {
      background-color: $color--white;
    }
    .label {
      color: $color--black;
    }
    .button {
      color: $color--purple;
    }
  }
  .selectricItems {
    border-top: 1px solid $color--gray--lightish;
  }
}

.widget-river--results-tabs {
  > li {
    width: 100%;
    padding: em(10px);
    background-color: $color--purple--dark;
    color: $color--white;

    @media screen and (min-width: 640px) {
      width: 33.3%;
      float: left;
      text-align: center;
    }

    &:nth-child(2) {
      background-color: $color--blue--dark;
    }

    &:nth-child(3) {
      background-color: $color--yellow--dark;
    }

    .widget-river--results--number {
      @include fontsize-rem(ms(4));
      width: 33%;
      float: left;
      font-family: $font--futura;
      font-weight: bold;
      line-height: 1.3em;
      vertical-align: middle;

      @media screen and (min-width: 640px) {
        @include fontsize-rem(ms(9));
        display: block;
        width: auto;
        float: none;
        line-height: inherit;

      }
    }

    //    > div {
    //
    //
    //      @media screen and (min-width: 640px) {
    //        font-size: .8em;
    ////        text-transform: uppercase;
    //      }
    //
    ////      @media screen and (min-width: 768px) {
    ////        font-size: fontsize-rem(ms(0));
    ////      }
    //    }
  }
}

.widget-river--results--type {
  display: inline-block;
  position: relative;
  width: 67%;
  padding: 0.5rem;
  background-color: rgba($color--white, .2);
  cursor: pointer;
  font-family: $font--futura;
  white-space: nowrap;
  &:after {
    @include arrow($color--white, right);
    top: 12px;
    right: 0.5rem;
  }
  @media screen and (min-width: 640px) {
    display: block;
    width: auto;
    &:after {
      display: none;
    }
  }
}

.widget-river--filters {
//  @include transition-property(max-height, opacity);
//  @include transition-duration($default-transition-duration);
//  @include transition-timing-function($default-transition-function);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  z-index: 100;
  background-color: $color--white;
  &.open {
    max-height: 100em;
    opacity: 1;
    overflow: visible;
  }
  @media screen and (min-width: 768px) {
    position: static;
    height: auto;
    width: 22%;
    float: right;
    margin-bottom: $base-line-em;
    max-height: 100em;
    opacity: 1;
  }

  h5 {
    margin: 0;
    padding: 10px 0;
    background-color: $color--blue--dark;
    color: $color--white;
    font-size: em(15px);
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
  }

  .close {
    display: inline-block;
    position: absolute;
    right: 1rem;
    width: 20px;
    height: 20px;
    float: right;
    background: image-url('close.svg') no-repeat;
    cursor: pointer;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  ul {
    border-top: 1px solid $color--gray--light;
  }

  li {

    a {
      @include unset-background-links();
      display: block;
      padding: em(10px) em(20px);
      border-bottom: 1px solid $color--gray--light;
      background: none;
      background-color: $color--white;
      color: $color--blue--dark;
      font-family: $font--futura;

      &:hover {
        background-color: $color--gray--light;
      }
    }
  }
}


////////////////////////////////////////////
.widget-river--results {
  @media screen and (min-width: 640px) {
    margin: 20px;
  }
  .widget-river--results--graph {
    background-color: #b7bec9;
    border: 8px solid RGBA(182, 190, 200, 1);
    margin-bottom: em(20px);

    @media screen and (min-width: 768px) {
      float: left;
      width: 75%;
      margin-right: em(20px);

    }
  }


}

.placeholder {
  width: 100%;
  background: $color--white;

  .graph--heading {
    font-size: 12px;
    font-family: $font--futura;
    color: $color--gray--dark;
    text-transform: uppercase;
    padding: 20px 30px 0;
  }

  svg {
    background-color: $color--white;
    width: 100%;
    margin-bottom: em(20px);

    text {
      font-family: $font--futura;
      font-size: 12px;
    }

    .graph-reports {
      stroke: $color--blue--dark;
    }

    .graph-maps {
      stroke: $color--yellow--dark;
    }

    .graph-jobs {
      stroke: $color--purple--dark;
    }
  }
}

// @todo refactor this to only drop down the main list
.river-widget--dropdown {
  position: relative;
  top: auto;
  right: auto;
  display: inline;

  @media screen and (min-width: 640px) {
    display: block;
  }

  .river-widget--dropdown--wrapper {
    @include transition-property(max-height, opacity);
    @include transition-duration($default-transition-duration);
    @include transition-timing-function($default-transition-function);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    z-index: 100;
    background-color: $color--white;
    &:before {
      @include arrow($color--blue--darker, up);
      right: 2em;
      bottom: 100%;
    }

    &.open {
      max-height: 100em;
      opacity: 1;
      overflow: visible;
    }
  }

  //  .river-widget--dropdown-heading {
  //
  //  }

  .close {
    @include inline-block;
    width: 20px;
    height: 20px;
    margin-top: .75em;
    float: right;
    background: url('../../images/close.svg') no-repeat;
    cursor: pointer;
    position: absolute;
    right: 15px;
  }
  .river-widget--dropdown--container {
    height: 100%;

    .widget-river--filters {
      float: none;
      width: 100%;
    }

  }
}


