
// Responsive styles.
@media screen and (max-width: 1360px) {

  .timeline-widget-frames-wrapper {
    margin: 0 em(60px);
  }

  .timeline-widget--controls {

    .next {
      right: 0 !important;
    }

    .prev {
      left: 0 !important;
    }
  }
}

@media screen and (max-width: 700px) {

  .timeline-widget--dropdown {
    position: static !important;
    right: auto;
    top: auto;

    .timeline-widget--dropdown-heading {
      width: 100% !important;
    }

    .timeline-widget--dropdown--wrapper {
      height: 100% !important;
      position: absolute;
      width: 100% !important;
      z-index: 100;
    }
  }

  .timeline-widget-item--description {
    padding-top: em(10px) !important;
  }

  .timeline-widget-pager {
    max-height: em(20px);
  }

  .timeline-widget-pager--item-content {
    display: none;
  }
}

.timeline-widget--dropdown {
  position: absolute;
  right: 0.5em;
  top: 1.5em;
  z-index: 10;

  .timeline-widget--dropdown--wrapper {
    display: none;
    width: em(360px);

    &.open {
      display: block;
    }
  }

  .timeline-widget--dropdown-heading {
    background: $color--blue;
    color: $color--white;
    float: right;
    padding: em(10px) em(32px);
    text-align: center;
    text-transform: uppercase;
    width: em(240px);

    span {
      color: $color--blue--dark;
    }
  }

  .timeline-widget--dropdown-controls {
    background: $color--blue;
    height: em(55px);
    margin-top: em(14px);
    padding: em(10px) em(32px);
    position: relative;

    .form-select {
      @include inline-block;
    }
  }
  .timeline-widget--dropdown--container {
    background: url('../../images/dropdown-bk-img.png');
    height: em(325px);
    padding: 0 em(15px) 0 em(30px);

    ul {
      border-left: em(4px) solid $color--blue;
      padding: em(14px) 0;
    }

    li {
      @include arrow-box(em(10px), $color--white, em(1px), $color--gray--light, left);
      margin-bottom: em(14px);
      margin-left: em(22px);
      padding: em(20px);
      position: relative;
      text-align: right;
    }

    .timeline-widget--dot {
      left: em(-33px);
      position: absolute;
      top: em(34px);
    }
  }
}


.timeline-widget-frames {
  width: 100%;

  ul {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .timeline-widget-item {
    float: left;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}

.timeline-widget {
  margin: 0 auto;
  max-width: em(1175px);
  padding: 0.5em;
  position: relative;


  .timeline-widget--controls {
    position: relative;

    .next,
    .prev {
      @include border-radius(em(50px));
      background: $color--white;
      border: em(1px) solid $color--gray--light;
      height: em(50px);
      position: absolute;
      top: em(260px);
      width: em(50px);
      z-index: 10;
    }

    .next {
      background: url('../../images/next-chevron.svg') no-repeat center;
      background-size: 12px 18px;
      right: em(-102px);
    }

    .prev {
      background: url('../../images/prev-chevron.svg') no-repeat center;
      background-size: 12px 18px;
      left: em(-102px);
    }
  }

  .timeline-widget-item--header {
    padding-top: em(24px);
  }

  .timeline-widget-item--title {
    font-family: $font--futura;
    font-size: ms(4);
    font-weight: bold;
    line-height: normal;
  }

  .timeline-widget-item--category {
    @include inline-block;
    background: $color--red;
    color: $color--white;
    font-size: ms(0);
    margin-right: 20px;
    padding: em(6px) em(10px);
    position: relative;
    text-transform: uppercase;

    &:after {
      @include arrow($color--red, em(15px), em(31px), right);
      content: ' ';
      position: absolute;
      right: em(-15px);
      top: em(16px);
    }
  }

  .timeline-widget-item--date {
    @include inline-block;
    color: $color--purple--dark;
    font-size: ms(2);
    font-weight: bold;
    text-transform: uppercase;
  }

  .timeline-widget-item--content {
    @media screen and (min-width: 700px) {
      @include layout($grid--2-3) {
        .grid--item {
          &:nth-of-type(2n+1) {
            @include grid-span(1, 1);
            clear: both;
          }
          &:nth-of-type(2n+2) {
            @include grid-span(1, 2);
          }
        }
      }
    }

    a {
      font-weight: bold;
      text-transform: none;
    }

    .btn {
      background: $color--purple--dark;
      font-family: $font--futura;
      font-size: ms(0);
      font-weight: normal;
      text-decoration: none;
      width: 100%;
    }

    .timeline-widget-item--image {
      position: relative;
    }

    .timeline-widget-item--image--icons {
      font-size: ms(0);
      left: 0;
      position: absolute;
      top: 0;

      a {
        border: none;
        color: $color--white;
        text-transform: uppercase;

        &.timeline-widget-item--image--view-more {
          background: $color--red;
        }

        &.timeline-widget-item--image--country {
          background: $color--blue--dark;
          padding: 0 em(3px);
        }
      }
    }

    .timeline-widget-item--description {
      color: $color--gray;
      padding-top: em(64px);
    }
  }

  .timeline-widget-pager {
    background: url('../../images/pager-bk-img.png') repeat-x $color--blue--light;
    height: em(120px);
    margin-top: em(40px);
    position: relative;
    width: 100%;

    ul {
      margin: 0;
      padding: 0;
      width: 100%;

      li {
        display: inline;
        float: left;
        height: 100%;

        .timeline-widget-pager--item {
          margin: 0 auto;
          max-width: em(200px);

          .timeline-widget-pager--item-content {
            @include arrow-box(em(10px), $color--white, em(1px), $color--gray--light, up);
            border: em(1px) solid $color--gray--light;
            margin-top: em(15px);
            padding: em(10px);
            text-align: center;
          }
        }
      }
    }
  }

  .timeline-widget-pager--current {
    background: $color--blue--light;
    border-top: em(1px) solid $color--white;
    font-size: ms(0);
    margin: auto;
    padding: em(10px);
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
}

.timeline-widget--dot {
  @include border-radius(16px);
  background: $color--blue;
  border: em(4px) solid $color--blue--light;
  height: em(16px);
  margin: 0 auto;
  width: em(16px);
}

// TODO: Move this into forms.
.selectricWrapper {
  cursor: pointer;
  position: relative;
}

.selectric {
  @include border-radius(em(2px));
  background: $color--blue--dark;
  color: $color--white;
  position: relative;

  .label {
    color: $color--white;
    display: block;
    font-size: ms(0);
    margin-right: em(14px);
    overflow: hidden;
    padding: em(6px) em(12px);
    white-space: nowrap;
  }

  .button {
    background: url('../../images/blue-chevron-select.svg') no-repeat center;
    background-size: em(10px) em(8px);
    color: $color--blue--dark;
    display: block;
    height: em(8px);
    position: absolute;
    right: em(10px);
    text-align: center;
    top: 40%;
    width: em(10px);
  }
}

.selectricOpen {
  z-index: 9999;

  .selectric {
    background: $color--blue--dark;
  }

  .selectricItems {
    display: block;
  }
}

.selectricHideSelect {
  height: 0;
  overflow: hidden;
  position: relative;
  width: 0;

  select {
    display: none;
    left: -100%;
    position: absolute;
  }
}

.selectricInput {
  background: none !important;
  border: none !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  left: 0 !important;
  margin: 0 !important;
  outline: none !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 1px !important;
}

.selectricTempShow {
  display: block !important;
  position: absolute !important;
  visibility: hidden !important;
}

.selectricItems {
  background: $color--blue--dark;
  display: none;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: -1;

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    color: $color--white;
    cursor: pointer;
    display: block;
    padding: 5px;

    &.selected {
      background: $color--blue;
      color: $color--blue--dark;
    }

    &:hover {
      background: $color--white;
      color: $color--blue--dark;
    }
  }

  .selectricScroll {
    height: 100%;
    overflow: auto;
  }
}

.selectricAbove .selectricItems {
  bottom: 100%;
  top: auto;
}
