<div class="sg-un-icons">
  <div>
    <h1>
      <span>Font Name:</span> humanitarian_icons
      <small>(Glyphs:&nbsp;244)</small>
    </h1>
    <div>This set of humanitarian icons, originally released by <a
        href="http://reliefweb.int/report/world/world-humanitarian-and-country-icons-2012">UN OCHA</a>, is now made
      available as a web font.<br/>
      <a href="http://www.tomnod.com/">Tomnod</a> transformed each icon into an SVG and then compiled the set into a web
      font file.<br/>
      The font and all source files are <a href="https://github.com/lubar/Humanitarian-Icons-WebFont">available on
        GitHub</a>.
    </div>
  </div>


  <div>
    <div class="glyph">
      <div>
        <span class="un-icon-activity_needs_assessment"></span><span
          class="mls"> un-icon-activity_needs_assessment</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e600"/>
      </fieldset>
    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-activity_policy"></span><span class="mls"> un-icon-activity_policy</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e601"/>
      </fieldset>
    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-activity_financing"></span><span class="mls"> un-icon-activity_financing</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e602"/>
      </fieldset>
    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-activity_information_management"></span><span class="mls"> un-icon-activity_information_management</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e603"/>
      </fieldset>
    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-activity_information_technology"></span><span class="mls"> un-icon-activity_information_technology</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e604"/>
      </fieldset>
    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-activity_analysis"></span><span class="mls"> un-icon-activity_analysis</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e605"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-activity_fund"></span><span class="mls"> un-icon-activity_fund</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e606"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-activity_training"></span><span class="mls"> un-icon-activity_training</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e607"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-activity_leadership"></span><span class="mls"> un-icon-activity_leadership</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e608"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-activity_partnership"></span><span class="mls"> un-icon-activity_partnership</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e609"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-activity_deployment"></span><span class="mls"> un-icon-activity_deployment</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e60a"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-activity_humanitarian_programme_cycle"></span><span class="mls"> un-icon-activity_humanitarian_programme_cycle</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e60b"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-activity_services_and_tools"></span><span
          class="mls"> un-icon-activity_services_and_tools</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e60c"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-activity_scale_operation"></span><span class="mls"> un-icon-activity_scale_operation</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e60d"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-activity_staff_management"></span><span
          class="mls"> un-icon-activity_staff_management</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e60e"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-activity_innovation"></span><span class="mls"> un-icon-activity_innovation</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e60f"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-activity_response"></span><span class="mls"> un-icon-activity_response</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e610"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-activity_meeting"></span><span class="mls"> un-icon-activity_meeting</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e611"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-activity_assessment"></span><span class="mls"> un-icon-activity_assessment</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e612"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-activity_public_information"></span><span
          class="mls"> un-icon-activity_public_information</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e613"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-activity_civil-military_coordination"></span><span class="mls"> un-icon-activity_civil-military_coordination</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e614"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-activity_gap_analysis"></span><span class="mls"> un-icon-activity_gap_analysis</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e615"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-activity_preparedness"></span><span class="mls"> un-icon-activity_preparedness</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e616"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-activity_learning"></span><span class="mls"> un-icon-activity_learning</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e617"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-activity_advocacy"></span><span class="mls"> un-icon-activity_advocacy</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e618"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-activity_coordinated_assessment"></span><span class="mls"> un-icon-activity_coordinated_assessment</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e619"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-activity_reporting"></span><span class="mls"> un-icon-activity_reporting</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e61a"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-camp_IDP_refugee_camp"></span><span class="mls"> un-icon-camp_IDP_refugee_camp</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e61b"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-camp_temporary_camp"></span><span class="mls"> un-icon-camp_temporary_camp</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e61c"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-camp_permanent_camp"></span><span class="mls"> un-icon-camp_permanent_camp</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e61d"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-camp_transition_site"></span><span class="mls"> un-icon-camp_transition_site</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e61e"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-camp_spontaneous_site"></span><span class="mls"> un-icon-camp_spontaneous_site</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e61f"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-camp_registration"></span><span class="mls"> un-icon-camp_registration</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e620"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-cluster_CCCM"></span><span class="mls"> un-icon-cluster_CCCM</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e621"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-cluster_early_recovery"></span><span class="mls"> un-icon-cluster_early_recovery</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e622"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-cluster_education"></span><span class="mls"> un-icon-cluster_education</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e623"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-cluster_emergency_telecommunications"></span><span class="mls"> un-icon-cluster_emergency_telecommunications</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e624"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-cluster_health"></span><span class="mls"> un-icon-cluster_health</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e625"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-cluster_food_security"></span><span class="mls"> un-icon-cluster_food_security</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e626"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-cluster_protection"></span><span class="mls"> un-icon-cluster_protection</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e627"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-cluster_WASH"></span><span class="mls"> un-icon-cluster_WASH</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e628"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-cluster_shelter"></span><span class="mls"> un-icon-cluster_shelter</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e629"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-cluster_logistics"></span><span class="mls"> un-icon-cluster_logistics</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e62a"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-cluster_nutrition"></span><span class="mls"> un-icon-cluster_nutrition</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e62b"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-crisis_humanitarian_access"></span><span
          class="mls"> un-icon-crisis_humanitarian_access</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e62c"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-crisis_population_displacement"></span><span class="mls"> un-icon-crisis_population_displacement</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e62d"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-crisis_population_return"></span><span class="mls"> un-icon-crisis_population_return</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e62e"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-crisis_conflict"></span><span class="mls"> un-icon-crisis_conflict</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e62f"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-damage_affected"></span><span class="mls"> un-icon-damage_affected</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e630"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-damage_destroyed"></span><span class="mls"> un-icon-damage_destroyed</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e631"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-damage_not_affected"></span><span class="mls"> un-icon-damage_not_affected</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e632"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-damage_airport_affected"></span><span class="mls"> un-icon-damage_airport_affected</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e633"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-damage_airport_destroyed"></span><span class="mls"> un-icon-damage_airport_destroyed</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e634"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-damage_airport_not_affected"></span><span
          class="mls"> un-icon-damage_airport_not_affected</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e635"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-damage_bridge_affected"></span><span class="mls"> un-icon-damage_bridge_affected</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e636"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-damage_bridge_destroyed"></span><span class="mls"> un-icon-damage_bridge_destroyed</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e637"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-damage_bridge_not_affected"></span><span
          class="mls"> un-icon-damage_bridge_not_affected</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e638"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-damage_building_not_affected"></span><span
          class="mls"> un-icon-damage_building_not_affected</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e639"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-damage_port_affected"></span><span class="mls"> un-icon-damage_port_affected</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e63a"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-damage_port_destroyed"></span><span class="mls"> un-icon-damage_port_destroyed</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e63b"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-damage_port_not_affected"></span><span class="mls"> un-icon-damage_port_not_affected</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e63c"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-damage_building_affected"></span><span class="mls"> un-icon-damage_building_affected</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e63d"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-damage_building_destroyed"></span><span
          class="mls"> un-icon-damage_building_destroyed</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e63e"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-damage_house_affected"></span><span class="mls"> un-icon-damage_house_affected</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e63f"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-damage_house_destroyed"></span><span class="mls"> un-icon-damage_house_destroyed</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e640"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-damage_house_not_affected"></span><span
          class="mls"> un-icon-damage_house_not_affected</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e641"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-damage_road_affected"></span><span class="mls"> un-icon-damage_road_affected</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e642"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-damage_road_destroyed"></span><span class="mls"> un-icon-damage_road_destroyed</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e643"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-damage_road_not_affected"></span><span class="mls"> un-icon-damage_road_not_affected</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e644"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-damage_school_affected"></span><span class="mls"> un-icon-damage_school_affected</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e645"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-damage_school_destroyed"></span><span class="mls"> un-icon-damage_school_destroyed</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e646"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-damage_school_not_affected"></span><span
          class="mls"> un-icon-damage_school_not_affected</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e647"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-disaster_cold_wave"></span><span class="mls"> un-icon-disaster_cold_wave</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e648"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-disaster_heatwave"></span><span class="mls"> un-icon-disaster_heatwave</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e649"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-disaster_cyclone"></span><span class="mls"> un-icon-disaster_cyclone</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e64a"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-disaster_earthquake"></span><span class="mls"> un-icon-disaster_earthquake</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e64b"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-disaster_fire"></span><span class="mls"> un-icon-disaster_fire</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e64c"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-disaster_epidemic"></span><span class="mls"> un-icon-disaster_epidemic</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e64d"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-disaster_insect_infestation"></span><span
          class="mls"> un-icon-disaster_insect_infestation</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e64e"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-disaster_heavy_rain"></span><span class="mls"> un-icon-disaster_heavy_rain</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e64f"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-disaster_drought"></span><span class="mls"> un-icon-disaster_drought</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e650"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-disaster_flash_flood"></span><span class="mls"> un-icon-disaster_flash_flood</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e651"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-disaster_flood"></span><span class="mls"> un-icon-disaster_flood</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e652"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-disaster_snow_avalanche"></span><span class="mls"> un-icon-disaster_snow_avalanche</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e653"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-disaster_storm_surge"></span><span class="mls"> un-icon-disaster_storm_surge</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e654"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-disaster_tsunami"></span><span class="mls"> un-icon-disaster_tsunami</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e655"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-disaster_landslide"></span><span class="mls"> un-icon-disaster_landslide</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e656"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-disaster_technological"></span><span class="mls"> un-icon-disaster_technological</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e657"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-disaster_tornado"></span><span class="mls"> un-icon-disaster_tornado</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e658"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-disaster_violent_wind"></span><span class="mls"> un-icon-disaster_violent_wind</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e659"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-disaster_locust_infestation"></span><span
          class="mls"> un-icon-disaster_locust_infestation</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e65a"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-disaster_snowfall"></span><span class="mls"> un-icon-disaster_snowfall</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e65b"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-disaster_storm"></span><span class="mls"> un-icon-disaster_storm</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e65c"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-disaster_volcano"></span><span class="mls"> un-icon-disaster_volcano</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e65d"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-food_NFI_mosquito_net"></span><span class="mls"> un-icon-food_NFI_mosquito_net</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e65e"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-food_NFI_blanket"></span><span class="mls"> un-icon-food_NFI_blanket</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e65f"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-food_NFI_bottled_water"></span><span class="mls"> un-icon-food_NFI_bottled_water</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e660"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-food_NFI_bucket"></span><span class="mls"> un-icon-food_NFI_bucket</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e661"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-food_NFI_clothing"></span><span class="mls"> un-icon-food_NFI_clothing</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e662"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-food_NFI_detergent"></span><span class="mls"> un-icon-food_NFI_detergent</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e663"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-food_NFI_flour"></span><span class="mls"> un-icon-food_NFI_flour</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e664"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-food_NFI_food"></span><span class="mls"> un-icon-food_NFI_food</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e665"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-food_NFI_infant_formula"></span><span class="mls"> un-icon-food_NFI_infant_formula</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e666"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-food_NFI_kitchen_set"></span><span class="mls"> un-icon-food_NFI_kitchen_set</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e667"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-food_NFI_mattress"></span><span class="mls"> un-icon-food_NFI_mattress</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e668"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-food_NFI_medicine"></span><span class="mls"> un-icon-food_NFI_medicine</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e669"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-food_NFI_medical_supply"></span><span class="mls"> un-icon-food_NFI_medical_supply</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e66a"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-food_NFI_non-food_items"></span><span class="mls"> un-icon-food_NFI_non-food_items</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e66b"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-food_NFI_oil"></span><span class="mls"> un-icon-food_NFI_oil</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e66c"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-food_NFI_plastic_sheeting"></span><span
          class="mls"> un-icon-food_NFI_plastic_sheeting</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e66d"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-food_NFI_relief_goods"></span><span class="mls"> un-icon-food_NFI_relief_goods</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e66e"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-food_NFI_rice"></span><span class="mls"> un-icon-food_NFI_rice</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e66f"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-food_NFI_salt"></span><span class="mls"> un-icon-food_NFI_salt</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e670"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-food_NFI_sugar"></span><span class="mls"> un-icon-food_NFI_sugar</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e671"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-food_NFI_stove"></span><span class="mls"> un-icon-food_NFI_stove</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e672"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-food_NFI_soap"></span><span class="mls"> un-icon-food_NFI_soap</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e673"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-food_NFI_tarpaulin"></span><span class="mls"> un-icon-food_NFI_tarpaulin</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e674"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-food_NFI_vaccine"></span><span class="mls"> un-icon-food_NFI_vaccine</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e675"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-food_NFI_tent"></span><span class="mls"> un-icon-food_NFI_tent</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e676"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-infrastructure_infrastructure"></span><span class="mls"> un-icon-infrastructure_infrastructure</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e677"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-infrastructure_government_office"></span><span class="mls"> un-icon-infrastructure_government_office</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e678"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-infrastructure_diplomatic_mission"></span><span class="mls"> un-icon-infrastructure_diplomatic_mission</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e679"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-infrastructure_assembly_point"></span><span class="mls"> un-icon-infrastructure_assembly_point</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e67a"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-infrastructure_hotel"></span><span class="mls"> un-icon-infrastructure_hotel</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e67b"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-infrastructure_house"></span><span class="mls"> un-icon-infrastructure_house</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e67c"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-infrastructure_police_station"></span><span class="mls"> un-icon-infrastructure_police_station</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e67d"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-infrastructure_church"></span><span class="mls"> un-icon-infrastructure_church</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e67e"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-infrastructure_mosque"></span><span class="mls"> un-icon-infrastructure_mosque</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e67f"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-infrastructure_hindu_temple"></span><span
          class="mls"> un-icon-infrastructure_hindu_temple</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e680"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-infrastructure_buddhist_temple"></span><span class="mls"> un-icon-infrastructure_buddhist_temple</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e681"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-infrastructure_health_facility"></span><span class="mls"> un-icon-infrastructure_health_facility</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e682"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-infrastructure_hospital"></span><span class="mls"> un-icon-infrastructure_hospital</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e683"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-infrastructure_mobile_clinic"></span><span
          class="mls"> un-icon-infrastructure_mobile_clinic</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e684"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-infrastructure_health_post"></span><span
          class="mls"> un-icon-infrastructure_health_post</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e685"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-infrastructure_school"></span><span class="mls"> un-icon-infrastructure_school</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e686"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-infrastructure_clinic"></span><span class="mls"> un-icon-infrastructure_clinic</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e687"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-infrastructure_food_warehouse"></span><span class="mls"> un-icon-infrastructure_food_warehouse</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e688"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-infrastructure_building"></span><span class="mls"> un-icon-infrastructure_building</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e689"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-infrastructure_community_building"></span><span class="mls"> un-icon-infrastructure_community_building</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e68a"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-infrastructure_distribution_site"></span><span class="mls"> un-icon-infrastructure_distribution_site</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e68b"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-infrastructure_university"></span><span
          class="mls"> un-icon-infrastructure_university</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e68c"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-infrastructure_UN_office"></span><span class="mls"> un-icon-infrastructure_UN_office</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e68d"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-infrastructure_NGO_office"></span><span
          class="mls"> un-icon-infrastructure_NGO_office</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e68e"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-logistics_airport"></span><span class="mls"> un-icon-logistics_airport</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e68f"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-logistics_airport_military"></span><span
          class="mls"> un-icon-logistics_airport_military</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e690"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-logistics_boat"></span><span class="mls"> un-icon-logistics_boat</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e691"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-logistics_truck"></span><span class="mls"> un-icon-logistics_truck</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e692"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-logistics_bridge"></span><span class="mls"> un-icon-logistics_bridge</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e693"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-logistics_car"></span><span class="mls"> un-icon-logistics_car</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e694"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-logistics_gas_station"></span><span class="mls"> un-icon-logistics_gas_station</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e695"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-logistics_helicopter"></span><span class="mls"> un-icon-logistics_helicopter</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e696"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-logistics_helipad"></span><span class="mls"> un-icon-logistics_helipad</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e697"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-logistics_road"></span><span class="mls"> un-icon-logistics_road</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e698"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-logistics_port"></span><span class="mls"> un-icon-logistics_port</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e699"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-logistics_train"></span><span class="mls"> un-icon-logistics_train</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e69a"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-logistics_tunnel"></span><span class="mls"> un-icon-logistics_tunnel</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e69b"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-logistics_ferry"></span><span class="mls"> un-icon-logistics_ferry</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e69c"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-logistics_ship"></span><span class="mls"> un-icon-logistics_ship</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e69d"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-logistics_bus"></span><span class="mls"> un-icon-logistics_bus</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e69e"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-other_cluster_coordination"></span><span
          class="mls"> un-icon-other_cluster_coordination</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e69f"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-other_cluster_rule_of_law"></span><span
          class="mls"> un-icon-other_cluster_rule_of_law</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6a0"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-other_cluster_environment"></span><span
          class="mls"> un-icon-other_cluster_environment</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6a1"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-other_cluster_multicluster"></span><span
          class="mls"> un-icon-other_cluster_multicluster</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6a2"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-other_cluster_agriculture"></span><span
          class="mls"> un-icon-other_cluster_agriculture</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6a3"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-other_cluster_fishery"></span><span class="mls"> un-icon-other_cluster_fishery</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6a4"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-other_cluster_safety_security"></span><span class="mls"> un-icon-other_cluster_safety_security</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6a5"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-other_cluster_other"></span><span class="mls"> un-icon-other_cluster_other</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6a6"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-people_affected_population"></span><span
          class="mls"> un-icon-people_affected_population</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6a7"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-people_missing"></span><span class="mls"> un-icon-people_missing</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6a8"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-people_dead"></span><span class="mls"> un-icon-people_dead</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6a9"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-people_injured"></span><span class="mls"> un-icon-people_injured</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6aa"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-people_woman"></span><span class="mls"> un-icon-people_woman</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6ab"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-people_children"></span><span class="mls"> un-icon-people_children</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6ac"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-people_elderly"></span><span class="mls"> un-icon-people_elderly</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6ad"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-people_pregnant"></span><span class="mls"> un-icon-people_pregnant</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6ae"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-people_physical_impairments"></span><span
          class="mls"> un-icon-people_physical_impairments</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6af"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-people_man"></span><span class="mls"> un-icon-people_man</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6b0"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-people_child_combatant"></span><span class="mls"> un-icon-people_child_combatant</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6b1"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-people_infant"></span><span class="mls"> un-icon-people_infant</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6b2"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-people_national_army"></span><span class="mls"> un-icon-people_national_army</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6b3"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-people_peacekeeping_force"></span><span
          class="mls"> un-icon-people_peacekeeping_force</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6b4"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-people_rebel"></span><span class="mls"> un-icon-people_rebel</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6b5"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-people_drowned"></span><span class="mls"> un-icon-people_drowned</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6b6"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-physical_barrier_physical_closure"></span><span class="mls"> un-icon-physical_barrier_physical_closure</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6b7"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-physical_barrier_checkpoint"></span><span
          class="mls"> un-icon-physical_barrier_checkpoint</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6b8"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-physical_barrier_mililtary_gate"></span><span class="mls"> un-icon-physical_barrier_mililtary_gate</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6b9"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-physical_barrier_observation_tower"></span><span class="mls"> un-icon-physical_barrier_observation_tower</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6ba"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-physical_barrier_roadblock"></span><span
          class="mls"> un-icon-physical_barrier_roadblock</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6bb"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-physical_barrier_border_crossing"></span><span class="mls"> un-icon-physical_barrier_border_crossing</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6bc"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-physical_barrier_earthmound"></span><span
          class="mls"> un-icon-physical_barrier_earthmound</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6bd"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-physical_barrier_road_barrier"></span><span class="mls"> un-icon-physical_barrier_road_barrier</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6be"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-product_type_calendar"></span><span class="mls"> un-icon-product_type_calendar</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6bf"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-product_type_chart"></span><span class="mls"> un-icon-product_type_chart</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6c0"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-product_type_data"></span><span class="mls"> un-icon-product_type_data</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6c1"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-product_type_document"></span><span class="mls"> un-icon-product_type_document</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6c2"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-product_type_film"></span><span class="mls"> un-icon-product_type_film</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6c3"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-product_type_map"></span><span class="mls"> un-icon-product_type_map</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6c4"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-product_type_photo"></span><span class="mls"> un-icon-product_type_photo</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6c5"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-product_type_report"></span><span class="mls"> un-icon-product_type_report</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6c6"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-product_type_table"></span><span class="mls"> un-icon-product_type_table</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6c7"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-security_arrest"></span><span class="mls"> un-icon-security_arrest</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6c8"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-security_assault"></span><span class="mls"> un-icon-security_assault</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6c9"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-security_carjacking"></span><span class="mls"> un-icon-security_carjacking</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6ca"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-security_dangerous_area"></span><span class="mls"> un-icon-security_dangerous_area</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6cb"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-security_forced_entry"></span><span class="mls"> un-icon-security_forced_entry</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6cc"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-security_mine"></span><span class="mls"> un-icon-security_mine</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6cd"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-security_attack"></span><span class="mls"> un-icon-security_attack</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6ce"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-security_harrassment"></span><span class="mls"> un-icon-security_harrassment</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6cf"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-security_murder"></span><span class="mls"> un-icon-security_murder</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6d0"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-security_house_burned"></span><span class="mls"> un-icon-security_house_burned</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6d1"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-security_forced_recruitment"></span><span
          class="mls"> un-icon-security_forced_recruitment</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6d2"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-security_abduction"></span><span class="mls"> un-icon-security_abduction</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6d3"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-security_robbery"></span><span class="mls"> un-icon-security_robbery</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6d4"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-socioeconomic_population_growth"></span><span class="mls"> un-icon-socioeconomic_population_growth</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6d5"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-socioeconomic_livestock"></span><span class="mls"> un-icon-socioeconomic_livestock</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6d6"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-socioeconomic_livelihood"></span><span class="mls"> un-icon-socioeconomic_livelihood</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6d7"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-socioeconomic_debris_management"></span><span class="mls"> un-icon-socioeconomic_debris_management</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6d8"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-socioeconomic_trade_and_market"></span><span class="mls"> un-icon-socioeconomic_trade_and_market</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6d9"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-socioeconomic_reconstruction"></span><span
          class="mls"> un-icon-socioeconomic_reconstruction</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6da"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-socioeconomic_urban"></span><span class="mls"> un-icon-socioeconomic_urban</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6db"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-socioeconomic_urban_rural"></span><span
          class="mls"> un-icon-socioeconomic_urban_rural</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6dc"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-socioeconomic_rural_exodus"></span><span
          class="mls"> un-icon-socioeconomic_rural_exodus</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6dd"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-socioeconomic_rural"></span><span class="mls"> un-icon-socioeconomic_rural</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6de"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-telecommunications_computer"></span><span
          class="mls"> un-icon-telecommunications_computer</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6df"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-telecommunications_radio"></span><span class="mls"> un-icon-telecommunications_radio</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6e0"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-telecommunications_walkie_talkie"></span><span class="mls"> un-icon-telecommunications_walkie_talkie</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6e1"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-telecommunications_e-mail"></span><span
          class="mls"> un-icon-telecommunications_e-mail</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6e2"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-telecommunications_fax"></span><span class="mls"> un-icon-telecommunications_fax</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6e3"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-telecommunications_internet"></span><span
          class="mls"> un-icon-telecommunications_internet</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6e4"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-telecommunications_mobile_phone"></span><span class="mls"> un-icon-telecommunications_mobile_phone</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6e5"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-wash_latrine_cabin"></span><span class="mls"> un-icon-wash_latrine_cabin</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6e6"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-wash_toilet"></span><span class="mls"> un-icon-wash_toilet</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6e7"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-wash_shower"></span><span class="mls"> un-icon-wash_shower</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6e8"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-wash_sanitation"></span><span class="mls"> un-icon-wash_sanitation</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6e9"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-wash_solid_waste"></span><span class="mls"> un-icon-wash_solid_waste</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6ea"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-wash_spring_water"></span><span class="mls"> un-icon-wash_spring_water</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6eb"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-wash_submersible_pump"></span><span class="mls"> un-icon-wash_submersible_pump</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6ec"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-wash_water_trucking"></span><span class="mls"> un-icon-wash_water_trucking</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6ed"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-wash_communal_latrine"></span><span class="mls"> un-icon-wash_communal_latrine</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6ee"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-wash_water_source"></span><span class="mls"> un-icon-wash_water_source</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6ef"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-wash_potable_water_source"></span><span
          class="mls"> un-icon-wash_potable_water_source</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6f0"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-wash_borehole"></span><span class="mls"> un-icon-wash_borehole</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6f1"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-wash_well"></span><span class="mls"> un-icon-wash_well</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6f2"/>

      </fieldset>

    </div>
    <div class="glyph">
      <div>
        <span class="un-icon-wash_potable_water"></span><span class="mls"> un-icon-wash_potable_water</span>
      </div>
      <fieldset>
        <input type="text" readonly value="e6f3"/>

      </fieldset>

    </div>
  </div>


  <hr/>
  <div class="bgc1 ">
    <p class="">Original icons by <a href="http://reliefweb.int/report/world/world-humanitarian-and-country-icons-2012">UN
      OHCA</a></p>

    <p class="">SVG -> WebFont transform by <a href="http://tomnod.com/">Tomnod</a></p>

    <p class="">Generated by <a href="http://icomoon.io/app">IcoMoon</a></p>
  </div>
</div>
