.accordion-set--content {
  @include single-transition(max-height, $default-transition-duration, $default-transition-function);
  max-height: 0;
  overflow: hidden;
  &.is-active {
    max-height: 100em;
  }
}
.accordion-set--check {
  display: none;
}
.accordion-set--label {
  display: block;
}
