/* ==========================================================================
   Pattern Lab - Fonts
   ========================================================================== */


.pl-font { font-size: 2em; }
////.pl-apercu-pro-font { font-family: $apercu-pro-font; }
////.pl-tungsten-bold-font { font-family: $tungsten-bold-font; }
//.pl-tstar-font { font-family: $tstar-font; }
//.pl-tstar-bold-font { font-family: $tstar-font; font-weight: bold; }
////.pl-tradegothic-bold-font { font-family: $tradegothic-bold-font; }
//.pl-tradegothic-cond-font { font-family: $tradegothic-cond-font; }
//.pl-times-new-roman { font-family: $times-font; }
