<div class="stepbox">
  <h4><a href="{{ url }}">Step Title</a></h4>
  <p>Become a team captain and start a team—or register as a member of an existing team that you’ve been invited to join. Another option is to go "Extreme" and ride the entire four-hour shift on your own bike. Whichever you choose, spread the word and ask friends, family, and colleagues to ride too!</p>
  <p> <a href="{{ url }}" class="btn-2"> <span class="btn-label">CALL TO ACTION</span></a> </p>
</div>