<div class="sg-ms-fonts">
  <ol class="sg-ms pl-font-futura">
    {{# listItems.twelve}}
      <li>{{headline.short}}</li>
    {{/ listItems.twelve}}
  </ol>

  <ol class="sg-ms pl-font-volkhov">
    {{# listItems.twelve}}
      <li>{{headline.short}}</li>
    {{/ listItems.twelve}}
  </ol>
</div>
